.container {
  width: 600px;
  margin: 0 auto;
  padding: 15px;
}

.startBtn {
  display: block;
  max-width: 200px;
  padding: 10px 40px;
  margin: 0 auto;

  color: white;
  font-size: 20pt;
  background-color: brown;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  position: relative;
  overflow: hidden;

  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.startBtn:hover {
  background-color: rgb(124, 33, 33);
}
.startBtn:hover::before {
  left: 120%;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.startBtn::before {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.502);
  width: 50px;
  height: 155px;
  left: -75px;
  top: -50px;
  opacity: 0.2;
  z-index: 10;
  transform: rotate(35deg);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.startBtn:disabled {
  opacity: 0.5;
  cursor: default;
}
.startBtn:disabled:hover {
  background-color: brown;
}
.startBtn:disabled:hover::before {
  display: none;
}

.title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20pt;
  text-align: center;
}

.horseList {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 15px;
}

.horseItem {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 150px;

  color: white;
  font-size: 14pt;
  font-weight: 500;
  text-align: center;
  background-color: var(--bg-color-primary);

  border-radius: 10px;
  border: 1px solid transparent;

  cursor: pointer;
}

.active {
  color: crimson;
  border-color: crimson;
}
